.not-found-page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}


.not-found-container {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;

  width: 80%;
  margin: auto;
}

.not-found-image {
  width: 100%;
  max-width: 350px;
}


.not-found-heading {
  margin: 0;
  margin-top: 15px;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
}

.not-found-description {
  margin: 0;
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.3;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  .not-found-image {
    max-width: 410px;
  }
  .not-found-heading {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .not-found-heading {
    font-size: 32px;
  }
}