.filters-group-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}
.filter-heading {
  margin: 0;
  font-family: 'Roboto';
  color: #f8fafc;
  font-size: 20px;
  font-weight: 500;
}

.filters-list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
}
.fliters-list-item{
    display: flex;
    align-items: center;
}

.checkbox-input {
  width: 16px;
  height: 16px;

  cursor: pointer;
  outline: none;
}
.filter-label {
  font-family: 'Roboto';
  color: #f1f5f9;
  margin-left: 16px;
  font-size: 18px;
  font-weight: 400;
}

*{
    /* border: 1px solid white; */
}