.jobs-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #121212;
}
.jobs-page {
  flex-grow: 1;
  padding-top: 25px;
  width: 90%;
  align-self: center;
}

.side-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .side-bar {
    width: 30%;
    max-width: 350px;
    flex-shrink: 0;
  }
  #smallSearchBar {
    display: none;
  }
}
.search-bar {
  width: 100%;
  border: 1px solid #cbd5e1;
  border-radius: 5px;
  height: 35px;
  display: flex;
}
.search-input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  padding: 4px 4px 4px 15px;
  font-family: 'Roboto';
  font-size: 14px;
  color: #f1f5f9;

  cursor: pointer;
  outline: none;
}
.search-button {
  width: 15%;
  background-color: #272727;
  border: none;

  cursor: pointer;
  outline: none;
}
.search-icon {
  color: #f1f5f9;
  width: 18px;
  height: 18px;
}
.separator {
  border-color: #7e858e;
  width: 100%;
  border-width: 1px;
  margin: 0;
}
