.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.home-page {
  flex-grow: 1;
  background-color: #000000;
  padding-top: 40px;
}

.home-heading{
    color: #ffffff;
}